.our-friends {
    background: $background-secendory-color;
}
.our-friends__container {
    display: flex;
    flex-direction: column;
    gap: 3.98rem;
    padding: 5.45rem 0 6.6rem 0;
    @include media-tablet {
        padding-block: 5.45rem  5.1rem ;
        gap: 2rem;
    }
    @include media-mobile {
        padding-inline: clamp(0.667rem, calc(-0.288rem + 4.474vw), 2rem);
        padding-block: 2.85rem  105.6px ;
    }
    @include media-mobilesmall {
        padding-inline: clamp(0.667rem, calc(-0.288rem + 4.474vw), 2rem);
        padding-block: 2.85rem  105.6px ;
    }
}
.our-friends_label {
    max-width: 27rem;
    text-align: center;
    margin: auto;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-text;
    span {
        display: block;
    }
    @include media-mobilesmall {
        font-size: clamp(1.67rem, calc(1.189rem + 2.237vw), 2.33rem);
    }
}
.our-friends__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    @include media-PC {
        justify-content: center;
    }
    @include media-laptop {
        justify-content: center;
    }
    @include media-tablet {
        row-gap: 2.15rem;
        column-gap: 2.5rem;
        justify-content: center;
        div:nth-child(n+7) {
         display: none;
        }
    }
    @include media-minmobile {
        gap: 2.3rem;
        div:nth-child(n+4) {
         display: none;
        }
    }
}
.our-friends__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-link-hover;
   /*  @include media-minmobile {
        .container div:nth-child(n+4) {
            display: none;
    }
    } */
    p {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: 0.1em;
        text-align: center;
        color: $color-text;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 10px 7px rgba(34, 60, 80, 0.2);
        transform: scale(1.04);
        transition: 0.3s linear;
    }
    &:hover .card_button {
        background: $primary-light-color;
        border: 2px solid $primary-light-color;
    }

}

.our-friends__navigation {
    display: flex;
    gap: 1.25rem;
    margin: auto;
    align-items: center;
    @include media-tablet {
        padding-block-start: .7rem;
    }
}

.button_navigation {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 6.25rem;
    border: 2px solid $primary-color;
    text-align: center;
    align-content: center;
}
.navigation_double-arrow-left {
    border-color: $color-link;
}
._icon-pagination-left-double-arrow {
   // font-size: 10px;
    color: $color-link;
    
}
.navigation_arrow-left {
    border-color: $color-link;
}
._icon-pagination-left-arrow {
    font-size: 10px;
    color: $color-link;
}
.navigation_center {
    background: $primary-color;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark-link-hover;
}
.navigation_arrow-right {
    &:hover {
        cursor: pointer;
        background: $primary-light-color;
        border: 2px solid $primary-light-color;
    }
    
}
._icon-pagination-right-arrow {
    font-size: 10px;
    color: $color-dark-link-hover;
}
.navigation_double-arrow-right {
    &:hover {
        cursor: pointer;
        background: $primary-light-color;
        border: 2px solid $primary-light-color;
    }
}
    

._icon-pagination-right-double-arrow {
    font-size: 10px;
    color: $color-dark-link-hover;
}

