 @font-face {
	font-family: icons;
	font-display: swap;
	src: url('./../../../assets/fonts/Icons/icons.woff') format('woff'),
		url('./../../../assets/fonts/Icons/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}