.about {
}
.about__container {
  display: flex;
  padding-block: 5.1rem 6.7rem;
  @include media-laptop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  @include media-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
    padding-block: 4.1rem 6.7rem;
  }
}
.about_img {
  background: url("./../../../assets/images/about-pets.png") no-repeat center /
    contain;
  width: 40%;
  padding-inline-start: 7.8rem;
  margin-inline-start: 3.5rem;
  @include media-laptop {
    order: 2;
    height: 27.5rem;
  }
  @include media-tablet {
    order: 2;
    height: 27.5rem;
    margin-inline-start: 0;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  padding-block-start: 1rem;
  gap: 1.59rem;
  width: 57%;
  padding-block-end: 1rem;
  @include media-laptop {
    order: 1;
    width: 65%;
  }
  @include media-tablet {
    order: 1;
    width: 61%;
  }
  h2 {
    width: 25rem;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 2.33rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-text;
  }
  p {
    width: 28.5rem;
    font-family: $secondFamily;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: $color-title-text;
  }
}
