.help {
}
.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5.9rem 7.9rem;
  gap: 3.75rem;
  
  h2 {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-text;
  }
  span {
    display: block;
  }
}
.help__list-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4.1rem 7.98rem;
}
.help_item {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  p {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-text;
  }
}
