.our-friends {
  background-color: $background-secendory-color;
}
.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5.25rem 6.25rem;
  h2 {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 2.33rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-text;
    span {
      display: block;
    }
  }
  @include media-tablet {
    padding-block: 4.9rem 6.625rem;
  }
}
.our-friends__slider {
  display: flex;
  gap: clamp(0.75rem, -4.376rem + 8.202vw, 3.313rem);
  align-items: center;
  padding-block: 4.33rem 4.15rem;
  @include media-PC {
    padding-inline: 0.9375rem;
  }
  @include media-tablet {
    padding-block: 4.15rem 4.1rem;
  }
}
.slider-arrow {
  width: 3.25rem;
  height: 52px;
  border: 2px solid $primary-color;
  border-radius: 100px;
  position: relative;
  text-align: center;
  align-content: center;
  flex-shrink: 0;
  &:hover {
    cursor: pointer;
    background: $primary-light-color;
    border: 0.125rem solid $primary-light-color;
  }
}
._icon-slider-arrow-left {
}
._icon-slider-arrow-right {
}
.slider__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: clamp(2.5rem, -3.75rem + 10vw, 5.625rem);
  @include media-laptop {
    grid-template-columns: 1fr 1fr;
    & > :nth-child(3n) {
      display: none;
    }
  }
  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    & > :nth-child(3n) {
      display: none;
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  border-radius: 0.5625rem;
  background: $color-link-hover;
  padding-block-end: 1.875rem;
  @include media-laptop {
    padding-block-end: 2.25rem;
    gap: 28px;
  }
  
  @include media-tablet {
    padding-block-end: 1.75rem;
    gap: 2rem;
  }
  img {
    border-radius: 9px 9px 0 0;
  }
  
  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 7px rgba(34, 60, 80, 0.2);
    transform: scale(1.04);
    transition: 0.3s linear;
  }
  &:hover .card_button {
    background: $primary-light-color;
    border: 2px solid $primary-light-color;
  }
}
.card_name {
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-text;
}
.card_button {
  border: 0.125rem solid $primary-color;
  border-radius: 6.25rem;
  padding: 15px 45px;
  background: $color-link-hover;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-link-hover;
}
.our-friends_link {
  border: 1px solid $primary-color;
  border-radius: 100px;
  padding: 15px 45px;
  background: $primary-color;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-link-hover;
  &:hover {
    cursor: pointer;
    background: $primary-light-color;
  }
}
