html,
body {
    height: 100%;
    font-size: 15px;
    line-height: 1;
    min-width: 20rem;
    scroll-behavior: smooth;
}
body._lock {
    overflow: hidden;
}
html {
    
}
.text {
    font-family: $fontFamily;
}