html,
body {
    height: 100%;
    font-size: 15px;
    background: $bg-gradient;
    line-height: 1;
    min-width: 20rem;
    scroll-behavior: smooth;
}
html {
    
}
.text {
    font-family: $fontFamily;
}