.header {
  padding: 2.05rem 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: clamp(1.3333rem, 0.803rem + 2.237vw, 1.875rem);
}


.header__logo {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    > h1 {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 2rem;
        line-height: 110%;
        letter-spacing: 0.093em;
        color: $color-text;
    }
    > p {
        font-family: $secondFamily;
        font-size: .8125rem;
        letter-spacing: 0.136em;
        color: $color-dark-link-hover;
        font-weight: 400;
        margin-left: .25rem;
    }
}
.header__menu {
  display: flex;
 /*     @include media-mobile {
    display: none;
  }
  @include media-mobilesmall {
    display: none;
  } */
}
.header__menu .menu__list {
  @include media-mobile {
     position: fixed;
     display: flex;
     flex-direction: column;
     padding-block-start: 16.5rem;
     text-align: center;
     top: 0;
     right:  0;
     width: 20rem;
     height: 100%;
     background: $color-dark-link-hover;
     padding-inline-start: 0;
     margin-top: 0;
     transform: translateX(100%);
     transition: transform 0.7s;    
  }
  @include media-mobilesmall {
     position: fixed;
     display: flex;
     flex-direction: column;
     text-align: center;
     padding-block-start: 16.5rem;
     top: 0;
     right:  0;
     width: 21.334rem;
     height: 100%;
     background: $color-dark-link-hover;
     padding-inline-start: 0;
     margin-top: 0;
     transform: translateX(100%);
     transition: transform 0.7s;
  }  
}
.header__menu.show .menu__list {
  transform: translateX(0);
}
.header__menu.show {
   @include media-mobile {
    display: block;    
  }
   @include media-mobilesmall {
    display: block;
  }  
}
.menu {
}
.menu__list {
    display: flex;
    gap: 2.375rem;
     @include media-mobile{
    gap: 2.8rem;
  }
  @include media-mobilesmall {
    gap: 2.8rem;
  }
}
.menu__item {
}
.menu__link {
    font-family: $secondFamily;
    color: $color-text;
    size: 15px;
    line-height: 160%;    
    &:hover {
        color: $color-dark-link-hover;
        transition: all 0.3s;
    }
    @include media-mobile {
        font-family: $secondFamily;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        color: $color-link;
    }
    @include media-mobilesmall {
      font-family: $secondFamily;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        color: $color-link;
    }

}
.menu__link-active {
    color: $color-dark-link-hover;
    border-bottom: .1875rem solid $color-dark-link-hover;
    padding-bottom: .25rem;
    cursor: not-allowed;
    @include media-mobile {
        font-family: $secondFamily;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        padding-block-end: .3125rem;
        color: $color-link-hover;
        border-bottom: .2rem solid $primary-color;
        pointer-events: none;
    }
    @include media-mobilesmall {
      font-family: $secondFamily;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        padding-block-end: .3125rem;
        color: $color-link-hover;
        border-bottom: .2rem solid $primary-color;
        pointer-events: none;
    }
}

.nav__hamburger {
  margin-block-start: 0.3rem;
}
.nav__hamburger.active .hamburger__line {
  left: -50%;
  top: 50%;
  transform: translate(50%, 0) rotate(90deg);
}
.nav__hamburger.active::before {
  left: 7%;
  top: 50%;
  transform: translate(25%, 0) rotate(90deg);
}
.nav__hamburger.active::after {
  left: -32%;
  top: 50%;
  transform: translate(0, 0) rotate(90deg);
}
.nav__hamburger::after {
  background-color: #000000;
  @include media-mobile {
    background-color: $background-color;
  }
  @include media-mobilesmall {
    background-color: $background-color;
  }
}
.nav__hamburger::before {
  background-color: #000000;
   @include media-mobile {
    background-color: $background-color;
  }
  @include media-mobilesmall {
    background-color: $background-color;
  }
}
.hamburger__line {
    background-color: #000000;
     @include media-mobile {
    background-color: $background-color;
  }
  @include media-mobilesmall {
    background-color: $background-color;
  }    
}
