.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    > main {
        flex: 1 1 auto;
    }
    > * {
        min-width: 0;
    }
}  



[class*="__container"] {
     max-width: 80rem;
     padding: 0 $containerPadding;
     margin: 0 auto;
}



